@import 'main.css';

:root {
  /* --rateColor: black; */
  --tColor: #922;
  --rhColor: #173;
  --pColor: #169;
  --timeColor: #c71;
  --bgColor: #999;
  --gridColor: #666;
}

/* =====================
Style the readings
=====================  */
.temperature { color: var(--tColor); }
.humidity { color: var(--rhColor); }
.pressure { color: var(--pColor); }
.time { color: var(--timeColor); }

/* =====================
Style the table
=====================  */
table {
  margin: 0 auto;
  width: 90%;
  table-layout: auto;
}
th, td {
  text-align: center;
  padding: 8px;
  width: auto;
  border-radius: .5rem;
}
tr {
  background-color: var(--colorOFF);
  color: #eee;
}
tr:hover {
  background-color: var(--hoverOFF);
}  
th {
  font-style: italic;
  background-color: var(--colorON);
  color: var(--colorCard);
}

/* =====================
Style the Chart
=====================  */
.chart-container {
  border-radius: 1rem;
	min-width: 250px;
  margin: 0 2% 2% 2%;
	overflow: hidden;
} 

/* Required only for canvas chart with Charts.js: */
#bmeChartJS {
  background-color: var(--bgColor);
  border-radius: 1rem;
}