@import "main_style.css";

:root {
  --tColor: #922;
  --rhColor: #173;
  --pColor: #169;
  --timeColor: #c71;
  --bgColor: #999;
  --gridColor: #666;
  --deleteColor: #911; 
  --deleteHover: #600;
}

/* ================================== */
/* Style the cards and the card-grid  */
/* ================================== */
.content { 
  padding: 30px;
} 
.card-grid { 
  max-width: 1000px; 
  margin: 0 auto; 
  display: grid; 
  grid-gap: 1rem; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card{ 
  background-color: var(--colorCard); 
  box-shadow: 2px 2px 12px 1px black;
  border-radius: 1rem;
}
.card-title { 
  display: inline-block;
  color: var(--colorON);
  margin: 1rem 0 1rem 0 ;
}
.feedback { 
  display: inline-block;
  font-weight: bold;
  margin: 0 ;
  color: var(--colorFeedback);
}

/* =====================  */
/* Style the table       */
/* =====================  */
.temperature { color: var(--tColor); }
.humidity { color: var(--rhColor); }
.pressure { color: var(--pColor); }
.time { color: var(--timeColor); }

/* =====================  */
/* Style the table       */
/* =====================  */
table {
  margin: 0 auto;
  width: 90%;
  table-layout: auto;
}
th, td {
  text-align: center;
  padding: 8px;
  width: auto;
  border-radius: .5rem;
}
tr {
  background-color: var(--colorOFF);
  color: #eee;
}
tr:hover {
  background-color: var(--hoverOFF);
}  
th {
  font-style: italic;
  background-color: var(--colorON);
  color: var(--colorCard);
}

/* =====================  */
/* Style the Chart        */
/* =====================  */
.chart-container {
  border-radius: 1rem;
	min-width: 250px;
  margin: 0 2% 2% 2%;
	overflow: hidden;
} 

/* Required only for canvas chart with Charts.js:  */
#bmeChartJS {
  background-color: var(--bgColor);
  border-radius: 1rem;
}

/* =====================  */
/* Style the button       */
/* =====================  */
.button-card {
  margin: 1rem auto;
  background-color: var(--colorCard); 
  box-shadow: 2px 2px 12px 1px black;
  border-radius: 1rem;
  max-width: 40%;
  min-width: 160px;
}

button {
  border: none;
  color: var(--colorCard);
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 50%;
  min-width: 120px;
  border-radius: .5rem;
  transition-duration: 0.4s;
  margin: 0.5rem auto;
  background-color: var(--colorON);
}
button:hover { background-color: var(--hoverON); cursor: pointer;} 

#delete-data { background-color: var(--deleteColor); }
#delete-data:hover { background-color: var(--deleteHover); cursor: pointer;} 