@import "main_style.css";
/* ================================== */
/* Style the cards and the card-grid  */
/* ================================== */
.content { 
  padding: 30px;
} 
.card-grid { 
  max-width: 3
  1000px; 
  margin: 0 auto; 
  display: grid; 
  grid-gap: 1rem; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card{ 
  background-color: var(--colorCard); 
  box-shadow: 2px 2px 12px 1px black;
  border-radius: 10px;
}
.card-title { 
  display: inline-block;
  color: var(--colorON);
  margin: 1rem 0 1rem 0 ;
}
.feedback { 
  display: inline-block;
  font-weight: bold;
  margin: 0 ;
  color: var(--colorFeedback);
}

/* =====================  */
/* Style the table       */
/* =====================  */
table {
  margin: 0 auto;
  width: 90%;
}
th, td {
  text-align: center;
  padding: 8px;
  width: 50%;
  border-radius: .5rem;
}
tr {
  background-color: var(--colorOFF);
  color: #eee;
}
tr:hover {
  background-color: var(--hoverOFF);
}  
th {
  font-style: italic;
  background-color: var(--colorON);
  color: var(--colorCard);
}

/* =====================  */
/* Style the button       */
/* =====================  */
.button-card {
  margin: 3rem auto;
  background-color: var(--colorCard); 
  box-shadow: 2px 2px 12px 1px black;
  border-radius: 1rem;
  max-width: 40%;
  min-width: 160px;
}

Button {
  border: none;
  color: var(--colorCard);
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 50%;
  min-width: 120px;
  border-radius: .5rem;
  transition-duration: 0.4s;
  margin: 1rem auto;
  background-color: var(--colorON); 
}

Button:hover { background-color: var(--hoverON); cursor: pointer;} 

