@import 'main.css';
:root { --colorIcon: #722; }

/* ==================================
Style specific icons
================================== */
.fa-solid { color: var(--colorIcon); }
.fa-trash-can, .fa-download, .fa-file-export, .fa-file-csv { color: var(--colorCard); }
.fa-screwdriver-wrench {color: var(--colorON);}
/* =====================
Style the input fields
===================== */
input, select {
  width: 40%;
  background-color: var(--colorOFF);
  color: #eee;
  padding: 1%;
  text-align: center;
  font-size: 1rem;
  border-radius: 4px;
  transition-duration: 0.4s;
}

/* 
Optional: if submit is an 'input' instead of a 'button':
form input[type=submit] {
  width: 30%;
  background-color: var(--colorON);
  cursor: pointer;
}
form input[type=submit]:hover { background-color: var(--hoverON); }
input-on { background-color: var(--colorON); } 
*/