@import "main.css";
:root {
  --colorIcon: #700;
  --colorSwitch: #eee;
}

/* ================================== */
/* Style the cards and the card-grid  */
/* ================================== */

.content { 
  padding: 30px;
} 
.card-grid { 
  max-width: 1000px; 
  margin: 0 auto; 
  display: grid; 
  grid-gap: 1rem; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card { 
  background-color: var(--colorCard); 
  box-shadow: 2px 2px 12px 1px black;
  border-radius: 10px;
}
.fa-solid {
  color: var(--colorIcon);
}
.card-title { 
  display: inline-block;
  color: var(--colorON);
  margin: 3% 0 0 0 ;
}
.feedback { 
  display: inline-block;
  font-weight: bold;
  margin: 0 ;
}

/* =====================  */
/* Style the buttons      */
/* =====================  */
Button {
  border: none;
  color: #eee;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 40%;
  border-radius: 4px;
  transition-duration: 0.4s;
  margin: 5% auto;
}

.button-on { background-color: var(--colorON); }
.button-on:hover { background-color: var(--hoverON); cursor: pointer;}
.button-off { background-color: var(--colorOFF); }
.button-off:hover { background-color: var(--hoverOFF); cursor: pointer;} 

/* ============================ */
/* Style the toggle switches    */
/* ============================ */
/* this is the "label" element that contains the toggle */
.toggleSwitch {
  position: relative; 
  display: block; 
  margin: 0 auto 15px;
  width: 80px; 
  height: 40px;
  margin: 4% auto;
}
/* Hide the original checkbox */
.toggleSwitch input { display: none }

/* This "span" element (toggle) is the movable part of the switch */
.toggle {
  position: absolute; 
  top: 0; left: 0; right: 0; bottom: 0; 
  background-color: var(--colorOFF); 
  border-radius: 20px
}
/* :before creates a pseudo element that is the first child of "toggle" */
.toggle:before {
  position: absolute; 
  content: ""; 
  height: 30px; 
  width: 40px; 
  left: 5px; 
  bottom: 5px; 
  background-color: var(--colorSwitch); 
  transition: .4s;
  border-radius: 15px;
}

/* Change color and position when hover or when the input is checked */
.toggle:hover {  cursor: pointer; background-color: var(--hoverOFF); }
input:checked+.toggle { background-color: var(--colorON); }
input:checked+.toggle:hover { background-color: var(--hoverON); }
input:checked+.toggle:before { transform: translateX(30px); } 

/* ============================ */
/* Style the slider bar         */
/* ============================ */
.sliderBox {  padding: 5% 5% 10% 5%; } 
.slider { 
  -webkit-appearance: none;     /* override default properties */
  margin: 0 auto; 
  width: 100%; 
  height: 10px;
  border-radius: 10px;
  /* background: var(--colorOFF);  /* default value, it will be override by JS */
  /* outline: none;  */
}

.slider:hover {cursor: pointer;}
/* Format the slider handle (Chrome, Opera, Safari, Edge) */
.slider::-webkit-slider-thumb { 
  -webkit-appearance: none; 
  appearance: none; 
  width: 30px; 
  height: 30px; 
  border-radius: 50%;
  background: #034078; 
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover { background-color: var(--hoverON); }

/* Format the slider handle (Firefox) */
.slider::-moz-range-thumb {     
  width: 30px; 
  height: 30px;
  border-radius: 50% ;
  background: #034078; 
  cursor: pointer; 
}
.slider::-moz-range-thumb:hover { background-color: var(--hoverON); }

.ticks {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
}
.tick {
  position: relative;
  display: flex;
  justify-content: center;
  width: 2px;
  background: var(--colorOFF);
  height: 1svh;
  line-height:30px;
  font-size: small;
}

