@import 'main.css';
:root {
  --colorIcon: #700;
  --colorSwitch: #eee;
}

/* ==================================
Style the cards and the card-grid 
================================== */
.fa-solid { color: var(--colorIcon); }

/* ============================
Style the toggle switches    
============================ */
/* this is the "label" element that contains the toggle */
.toggleSwitch {
  position: relative; 
  display: block; 
  margin: 0 auto 15px;
  width: 80px; 
  height: 40px;
  margin: 4% auto;
}
/* Hide the original checkbox */
.toggleSwitch input { display: none }

/* This "span" element (toggle) is the movable part of the switch */
.toggle {
  position: absolute; 
  top: 0; left: 0; right: 0; bottom: 0; 
  background-color: var(--colorOFF); 
  border-radius: 20px
}
/* :before creates a pseudo element that is the first child of "toggle" */
.toggle:before {
  position: absolute; 
  content: ''; 
  height: 30px; 
  width: 40px; 
  left: 5px; 
  bottom: 5px; 
  background-color: var(--colorSwitch); 
  transition: .4s;
  border-radius: 15px;
}

/* Change color and position when hover or when the input is checked */
.toggle:hover {  cursor: pointer; background-color: var(--hoverOFF); }
input:checked+.toggle { background-color: var(--colorON); }
input:checked+.toggle:hover { background-color: var(--hoverON); }
input:checked+.toggle:before { transform: translateX(30px); } 

/* ============================
Style the slider bar
============================ */
.sliderBox {  padding: 5% 5% 10% 5%; } 
.slider { 
  -webkit-appearance: none;     /* override default properties */
  margin: 0 auto; 
  width: 100%; 
  height: 10px;
  border-radius: 10px;
}

.slider:hover {cursor: pointer;}
/* Format the slider handle (Chrome, Opera, Safari, Edge): */
.slider::-webkit-slider-thumb { 
  -webkit-appearance: none; 
  appearance: none; 
  width: 30px; 
  height: 30px; 
  border-radius: 50%;
  background: #034078; 
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover { background-color: var(--hoverON); }

/* Format the slider handle (Firefox): */
.slider::-moz-range-thumb {     
  width: 30px; 
  height: 30px;
  border-radius: 50% ;
  background: #034078; 
  cursor: pointer; 
}
.slider::-moz-range-thumb:hover { background-color: var(--hoverON); }

.ticks {
  display: flex;
  justify-content: space-between;
  padding: 2% 5%;
}
.tick {
  position: relative;
  display: flex;
  justify-content: center;
  width: 2px;
  background: var(--colorOFF);
  height: 1svh;
  line-height:30px;
  font-size: small;
}

