@import 'main.css';

.card {
  margin: 2rem;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  max-width: 1000px; 
  grid-gap: 1rem; 
}

/* =====================  */
/* Style the buttons      */
/* =====================  */
button {
  min-width: 100px;
}
