@import 'main.css';

#index {
  display: inline-block
}

/* =====================
Style the input fields
===================== */
/* input {
  width: 40%;
  background-color: var(--colorOFF);
  color: #eee;
  padding: 1%;
  text-align: center;
  font-size: 1rem;
  border-radius: 4px;
  transition-duration: 0.4s;
  margin: 1rem 0 0.5rem 0
}

#login-card {
  max-width: 600px;
} */