@import 'main.css';

#index {
  display: inline-block
}

button {
  border: none;  
  color: var(--colorCard);
  background-color: var(--colorON);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition-duration: 0.4s;
  margin: 0% auto;
  padding: 10px 10px;
  width: 40%;
}

button:hover { cursor: pointer;}
