:root {
  --colorBack: #000;
  --colorNav: #359;
  --colorON: #359;
  --hoverON: #116;
  --colorOFF: #777;
  --hoverOFF: #333;
  --colorCard: #bbb;
  --colorFeedback: #333;
}

html {
  font-family: Arial, Helvetica, sans-serif; 
  text-align: center;
}

body {  
  background-color: var(--colorBack);
  background-image: url("background.png");
  margin: 0;
}

p, h1 { text-align: center; }

.topnav { 
  padding: 0 0 10px 0;
  background-color: var(--colorNav);
  width: 50%;
  min-width: 280px;
  margin: 0 auto;
  border-radius: 1rem;
}

a { text-decoration: none;  }

ul {
  width: 50%;
  margin: 0 auto;
  text-align:justify;
  background-color: var(--colorNav);
  padding: 0.5rem 3rem;
  border-radius: 1rem;
}

li {
  padding: 0.5rem;
  color: var(--colorCard);
  border-radius: 4px;
}

li:hover { background-color: var(--hoverON); }

h1 {
  font-size: 1.8rem; 
  color: var(--colorON);
  margin: 0 auto;
  background-color: var(--colorCard);
}